@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;600;700&display=swap);
@font-face {
	font-family: sf_pro_displayregular;
	src: url('https://dev.1flow.app/js/font/fontsfree-net-sfprodisplay-regular.woff2') format('woff2'), url('https://dev.1flow.app/js/font/fontsfree-net-sfprodisplay-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal
}

@font-face {
    font-family: 'SF-Pro-Display-Medium';
    src: url('font/SFProDisplay-Medium.woff2') format('woff2'),
        url('font/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500 !important;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF-Pro-Display-normal';
    src: url('font/SFProDisplay-Regular.woff2') format('woff2'),
        url('font/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#one_flow_survey_preview {
	font-family: var(--font);
	font-size: 14px
}

[data-theme=light] {
	--primary_color: rgba(17, 24, 39, 1)!important;
	--color_opacity: 14px!important;
	--corner_radius: 10px!important;
	--font: 'Source Sans Pro'!important;
	--bg-color: #fff!important;
	--bg--forecolor: #000!important;
	--alpha: 0.21
}

[data-theme=dark] {
	--primary_color: #69bac9!important;
	--color_opacity: 14px!important;
	--corner_radius: 10px!important;
	--font: 'Source Sans Pro'!important;
	--bg-color: #000!important
}

.one-flow-rating-box {
	font-family: sf_pro_displayregular
}

.one-flow-rating-box .star-list li svg path {
	stroke: var(--bg--primary-color)
}

.one-flow-rating-box button.textarea-btn:hover {
	color: var(--bg--forecolor)
}
#oneflow_main_box h4{line-height:21px !important; font-family: 'SF-Pro-Display-Medium';font-weight: 500 !important;}
h1 {
	font-size: 30px;
	margin: 0;
	color: var(--primary_color)
}

h2 {
	font-size: 26px;
	margin: 0;
	color: var(--primary_color)
}

h3 {
	font-size: 22px;
	margin: 0;
	color: var(--primary_color)
}

h4 {
	font-size: 18px;
	margin: 0;
	color: var(--primary_color);
	font-family: sf_pro_displayregular
}

h5 {
	font-size: 16px;
	margin: 0;
	color: var(--primary_color)
}

h6 {
	font-size: 14px;
	margin: 0;
	color: var(--primary_color)
}

.one-flow-rating-box p {
	padding: 0;
	margin-top: 11px;
	color: #50555c;
	font-size: 14px;
	font-weight: 400 !important;
	font-family: 'SF-Pro-Display-normal' !important;
}

.mt-10 {
	margin-top: 10px
}

.mt-25 {
	margin-top: 25px
}

.mt-40 {
	margin-top: 40px
}

.pd-t-5 {
	padding-top: 5px
}

.pd-t-10 {
	padding-top: 10px
}

.pd-t-15 {
	padding-top: 15px
}

.pd-t-20 {
	padding-top: 10px
}

.pd-t-25 {
	padding-top: 25px
}

.pd-t-30 {
	padding-top: 30px
}

.pd-t-35 {
	padding-top: 35px
}

.pd-t-40 {
	padding-top: 40px
}

#button_list,
#exp,
#finish,
#finish_text,
#like_unlike,
#show,
#wtr_mrk {
	opacity: 0
}

h4:first-letter {
	text-transform: capitalize
}

li:first-letter {
	text-transform: capitalize
}
/*#button_list,
#like_unlike{
	padding-inline-start: 0 !important;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: 0px !important; 
    margin-inline-end: 0px !important;
}*/
@media(min-width:601px) {
	.one-flow-rating-box {
		width: 369px;
		min-height: 268px;
		background: var(--bg-color);
		border-radius: var(--corner_radius);
		border: 3px solid var(--bg--primary-color);
		position: fixed;
		right: 20px;
		bottom: 20px;
		padding: 22px;
		box-sizing: border-box;
		overflow: hidden;
		transition: all .5s ease-in-out 0s!important;
		z-index: 999;
		box-shadow: 0 20px 40px rgb(0 0 0 / 25%);

	}
	.one-flow-rating-box.removeEffect {
		opacity: 0;
		pointer-events: none
	}
}

#oneflow_main_box img.cross-btn {
	cursor: pointer;
	position: absolute;
	right: 1rem;
	top: 1rem;
	opacity: .5;
	max-width: 30px
}

#oneflow_main_box img.cross-btn:hover {
	opacity: 1
}

progress {
	background-color: #c4c4c4;
	border: 0;
	height: 5px;
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 0
}

progress::-webkit-progress-bar {
	background-color: #c4c4c4
}

progress::-webkit-progress-value {
	background: var(--bg--primary-color)
}

.one-flow-rating-box p.water-mark {
	font-weight: 400;
	color: #c4c4c4;
	font-size: 12px;
	display: flex;
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	min-height: 17px;
	margin: 15px 0 0;font-weight: 400 !important;
	font-family: 'SF-Pro-Display-normal' !important;line-height: 17px;
}

.one-flow-rating-box p.water-mark img {
	margin-left: 6px
}

.one-flow-rating-box .act-link {
	list-style: none;
	padding: 0 !important;
	width: 100%;
	float: left;
	margin: 0 !important;
	font-size: .75rem
}

.one-flow-rating-box ul.act-link li {
	float: left;
	width: 50%;
	padding: 0;
	margin: 0;
    font-size: 12px;
    color: #000;font-weight: 400 !important;
	font-family: 'SF-Pro-Display-normal' !important;
	line-height:14px;
}

.one-flow-rating-box ul.act-link li:last-child {
	text-align: right
}

.cross-btn:hover {
	color: #6b7280
}

.btn {
	border-radius: 0
}

.one-flow-rating-box .rating-btn:hover {
	background: var(--bg--primary-color);
	opacity: var(--hover--color-opacity);
	color:#fff;
}

.one-flow-rating-box .rating-btn:focus {
	background: var(--bg--primary-color)
}

.one-flow-rating-box ul.rating-list li button {
	cursor: pointer;
	background: #fff;
	font-size: 16px;
	font-weight: 500;
	width: 65px;
	height: 65px;
	border: 1px solid #ccc;
	border-right: 0;
	color:#000;
}

.one-flow-rating-box ul.rating-list li:last-child button {
	border-right: 1px solid #ccc!important;
	border-radius: 0 10px 10px 0
}

.one-flow-rating-box ul.rating-list li:first-child,
.one-flow-rating-box ul.rating-list li:first-child button {
	border-radius: 10px 0 0 10px!important
}

.one-flow-rating-box ul.rating-list li:last-child {
	border-radius: 0 10px 10px 0
}

.one-flow-rating-box .rating-list {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-bottom: 3px
}

.one-flow-rating-box ul.rating-list li {
	display: table-cell;
	width: 65px;
	height: 65px;
	margin-right: 0;
	box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 #0000000d
}

.one-flow-rating-box ul.rating-list-10 li {
	display: table-cell;
	width: 29px!important;
	height: 65px;
	margin-right: 0
}

.one-flow-rating-box ul.rating-list-10 li button {
	width: 29px!important
}

.pd-t-20.effectapply {
	max-width: 300px
}

.oneflow_radio {
	font-weight: 400 !important;
	font-family: 'SF-Pro-Display-normal' !important;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	padding: 6px 20px;
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 9px;
	cursor: pointer;
	font-size: 15px;
	user-select: none;
	line-height: 28px
}

.oneflow_radio input {
	position: absolute;
	cursor: pointer;
	height: 0;
	width: 0
}

.one-flow-rating-box .checkmark {
	position: absolute;
	top: 12px;
	left: 10px;
	height: 14px;
	width: 14px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #c4c4c4
}

.one-flow-rating-box .oneflow_radio input:checked~.checkmark {
	background-color: var(--bg--primary-color);
	border: none
}

.one-flow-rating-box .checkmark:after {
	content: "";
	position: absolute;
	display: none
}

.one-flow-rating-box .oneflow_radio input:checked~.checkmark:after {
	display: block
}

.one-flow-rating-box .oneflow_radio .checkmark:after {
	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff
}

.one-flow-rating-box ul.multiple {
	list-style: none;
	padding: 0;
	margin-bottom: 0
}

.one-flow-rating-box ul.multiple li label:hover {
	border: 1px solid #2d4eff
}

.one-flow-rating-box .checkmark:hover,
.one-flow-rating-box .oneflow-checkmark:hover {
	background: var(--hover--primary-color)
}

[type=checkbox]:hover,
[type=radio]:hover {
	background: var(--hover--primary-color)
}

.one-flow-rating-box .checkcontainer {
	font-weight: 400 !important;
	font-family: 'SF-Pro-Display-normal' !important;
	display: block;
	position: relative;
	padding-left: 35px!important;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	user-select: none;
	border: 1px solid #c4c4c4;
	padding: 10px 30px;
	border-radius: 5px;
	line-height: 25px
}

.one-flow-rating-box .checkcontainer input {
	position: absolute;
	cursor: pointer;
	opacity: 0
}

.one-flow-rating-box .oneflow-checkmark {
	position: absolute;
	top: 12.5px;
	left: 10px;
	height: 15px;
	width: 15px;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #c4c4c4
}

.one-flow-rating-box .checkcontainer input:checked~.oneflow-checkmark {
	background-color: var(--bg--primary-color)
}

.one-flow-rating-box .oneflow-checkmark:after {
	content: "";
	position: absolute;
	display: none
}

.one-flow-rating-box .checkcontainer input:checked~.oneflow-checkmark:after {
	display: block
}

.one-flow-rating-box .checkcontainer .oneflow-checkmark:after {
	left: 5px;
	top: 2px;
	width: 3px;
	height: 7px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg)
}

.one-flow-rating-box ul.multiple {
	list-style: none;
	padding: 0;
	margin-bottom: 0
}

.one-flow-rating-box ul.multiple li label:hover {
	border: 1px solid var(--bg--primary-color);
	opacity: var(--hover--color-opacity)
}

.one-flow-rating-box .oneflow-area-text {
	float: left;
	width: 100%;
	position: relative
}

.one-flow-rating-box textarea.oneflow-textarea {
	height: 89px;
	width: 100%;
	border: 1px solid #c4c4c4;
	resize: none;
	border-radius: 5px;
	padding: 5px 5px;
	box-sizing: border-box;
	font-family: var(--font)!important
}

.oneflow-thankyou-msg.effectapply {
    font-size: 12px !important;
	font-family: 'SF-Pro-Display-Medium' !important;font-weight: 500 !important;
}



.one-flow-rating-box textarea.oneflow-textarea:focus {
	outline: 0;
	border: 1px solid var(--bg--primary-color)
}

.one-flow-rating-box button.textarea-btn {
	margin-bottom: 10px;
	width: 155px;
	height: 48px;
	border: none;
	background: var(--bg--primary-color);
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	float: right;
	margin-top: 5px;font-family: 'Source Sans Pro' !important;font-weight: 700!important;
}

.one-flow-rating-box span.txt-count {
	color: #c4c4c4;
	position: absolute;
	right: 10px;
	bottom: 10px
}

.one-flow-rating-box button.textarea-btn.displayFinsih {
	opacity: 1!important
}

.one-flow-rating-box .star-list li {
	text-align: center
}

.one-flow-rating-box .star-list li svg {
	margin-top: 16px
}

.one-flow-rating-box .star-list .rating-active {
	fill: var(--bg--primary-color)
}

.one-flow-rating-box .oneflow-thankyou-msg {
	color: #50555c;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 16px
}

.one-flow-rating-box p.oneflow-thankyou-msg img {
	width: auto;
	margin-left: 6px;
	max-height: 16px
}

.one-flow-rating-box .text-center {
	text-align: center
}

.one-flow-rating-box .act-link {
	float: none;
	display: flex
}

.one-flow-rating-box .act-link li {
	float: none;
	justify-content: space-between;
	width: auto
}

.one-flow-rating-box .rating-list.star-list li {
	box-shadow: none;
	border: none
}

.effectapply {
	opacity: 1!important;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .7s
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

#show.effectapply {
	animation-duration: 1s
}

.one-flow-rating-box .oneflow-thankyou-msg a,
.one-flow-rating-box p.water-mark a {
	display: inline-flex;
	align-items: center
}

@media(max-width:600px) {
	.one-flow-rating-box ul.rating-list-10 li {
		float: left
	}
	.one-flow-rating-box ul.rating-list-10 li button {
		display: flex;
		justify-content: center;
		align-items: center
	}
	.one-flow-rating-box {
		transition: all .5s ease-in-out 0s!important;
		transform: translate(0, 0)!important
	}
	.one-flow-rating-box.removeEffect {
		transform: translate(0, 100%)!important
	}
	.one-flow-rating-box {
		right: 0;
		bottom: 0;
		width: 100%;
		max-width: 369px;
		left: 0;
		margin: 0 auto;
		border-radius: 30px 30px 0 0;
		border: none;
		position: fixed;
		animation-timing-function: linear;
		animation: lineV .5s;
		overflow: visible;
		min-height: 245px;
		padding: 1.5rem 1.5rem 1.7rem;
		box-sizing: border-box;
		background: #fff;
		z-index: 99999;
	}
	div#one_flow_survey_preview:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.25);
		top: 0;
		z-index: 9999;
	}
	@keyframes lineV {
		from {
			bottom: -100%
		}
		to {
			bottom: 0
		}
	}
	.nodge {
		height: 5px;
		width: 44px;
		border-radius: 20px;
		background: rgb(0 0 0 / 25%);
		position: absolute;
		top: -15px;
		display: block;
		margin: 0 auto;
		left: 0;
		right: 0;
		cursor: pointer
	}
	div#oneflow_main_box div {
		transition: all 5s ease-in-out 0s!important
	}
	.one-flow-rating-box p.water-mark {
		display: none
	}
	.one-flow-rating-box .oneflow-thankyou-msg {
		display: flex!important
	}
}

@keyframes mymove {
	from {
		bottom: -100%!important
	}
	to {
		bottom: 0!important
	}
}

@media(max-width:370px) {
	.one-flow-rating-box .rating-list {
		width: 100%;
		display: inline-flex
	}
	.one-flow-rating-box ul.rating-list li {
		width: 100%;
		height: 55px
	}
	.one-flow-rating-box {
		padding: 16px
	}
	.one-flow-rating-box ul.rating-list li button {
		width: 100%;
		height: 100%
	}
	.one-flow-rating-box ul.rating-list-10 li button {
		width: 100%!important;
		padding: 0 2px;
		text-align: center
	}
	.one-flow-rating-box ul.rating-list-10 li {
		width: 100%!important;
		height: 55px
	}
}

@font-face {
	font-family: FontsFree-Net-SFProDisplay-Regular;
	src: url('https://dev.1flow.app/js/font/FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype'), url('https://dev.1flow.app/js/font/FontsFree-Net-SFProDisplay-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal
}

div#oneflow_main_box .effectapply img.one-flow-thankyou {
	width: 55px!important
}

#one_flow_survey_preview button {
	cursor: pointer
}